<form class="well form-inline" id="new-random-matrix">
  <div class="form-group">
    <span>Zufällige </span>
    <input type="text" class="form-control" id="new-random-matrix-m" placeholder="m" />
    <span>x</span>
    <input type="text" class="form-control" id="new-random-matrix-n" placeholder="n" />
    <span>-Matrix generieren.</span>
  </div>
  <button type="submit" class="btn btn-primary">Ausführen</button>
</form>

<form class="well form-inline" id="exchange-rows">
  <div class="form-group">
    <span>Zeilen </span>
    <input type="text" class="form-control" id="exchange-rows-a" placeholder="Zeile" />
    <span> und </span>
    <input type="text" class="form-control" id="exchange-rows-b" placeholder="Zeile" />
    <span> vertauschen.</span>
  </div>
  <button type="submit" class="btn btn-primary">Ausführen</button>
</form>

<form class="well form-inline" id="multiply-row">
  <div class="form-group">
    <span>Zeile </span>
    <input type="text" class="form-control" id="multiply-row-row" placeholder="Zeile" />
    <span> mit </span>
    <input type="text" class="form-control" id="multiply-row-factor" placeholder="Faktor" />
    <span> multiplizieren.</span>
  </div>
  <button type="submit" class="btn btn-primary">Ausführen</button>
</form>

<form class="well form-inline" id="add-row-multiple">
  <div class="form-group">
    <span>Zeile </span>
    <input type="text" class="form-control" id="add-row-multiple-a" placeholder="Zeile" />
    <span> mit </span>
    <input type="text" class="form-control" id="add-row-multiple-factor" placeholder="Faktor" />
    <span>-fachem von Zeile </span>
    <input type="text" class="form-control" id="add-row-multiple-b" placeholder="Zeile" />
    <span> addieren.</span>
  </div>
  <button type="submit" class="btn btn-primary">Ausführen</button>
</form>
